$header-background:#fd1f29;
$header-background-2:#f25957;
$background: #f0776c;
$lila : #d76d83;
$liladark_2:#d66294;
$liladark:#c40f5e;
$centercolor: #fcb28a;
$titulo: #6c0342;


@mixin vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin horizontal-align {
    margin: 0 auto;
}

@mixin hover ($back-color, $text-color) {
    background-color: $back-color;
    text-decoration: 0;
    color: $text-color;
}

body {
    font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    background: #ffffff;
    position: relative;
    height: 100%;
    min-height: 100%;
    
    .flowers-topleft,
    .flowers-topright,
    .flowers-bottomright,
    .flowers-bottomleft {
        background-size: cover !important;
        position: absolute;
        width: 40%;
        height: 50%;
        display: none;
        -webkit-transition: -webkit-transform 1s;
        transform: transform 1s;
        position: fixed;
        z-index: 50;
    }
    .flowers-topleft {
        top: -2%;
        left: -8%;
        width: 45%;
        background: url(../img/222.png) no-repeat right bottom;
    }
    .flowers-topright {
        top: -5%;
        right: -8%;
        width: 45%;
        background: url(../img/22.png) no-repeat left bottom;
    }
    .flowers-bottomright {
        bottom: -2%;
        right: -5%;
        background: url(../img/19.png) no-repeat left top;
    }
    .flowers-bottomleft {
        bottom: 0%;
        left: -8%;
        background: url(../img/16.png) no-repeat right top;
    }
}

header {
    //background: $lila;
    background: radial-gradient($centercolor, $liladark); 
    height: 100%;
    
    h1 {
        @include vertical-align;
        @include horizontal-align;
        font-family: 'Sacramento', cursive;
        text-align: center;
        color:$titulo;
        font-weight: bold;
        font-size: 65px;
        border-bottom: 1px solid $titulo;
        width: 450px;
        padding: 10px 10px;
    
    }
    p{
        @include vertical-align;
        @include horizontal-align;
        font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
        color:$titulo;
        top:48%;
        font-weight: 300;
        font-size: 20px;
        padding: 10px 40px;
        text-align: center;
    }
    .glyphicon-chevron-down {
        position: relative;
        top: 400px;
        left:640px;
        cursor:pointer;
        font-size: 30px;
        color:#fff;	
    }
}

.flowers-leaves 
{
    top: 0px;
    
    .flowers-topleft {
        transform: translate(-20%, -44%);
    }
    .flowers-topright {
         transform: translate(44%, -44%);
    }
    .flowers-bottomright {
        transform: translate(44%, 44%);
    }
    .flowers-bottomleft {
        transform: translate(-44%, 44%);
    }  
}

//FIN EJEMPLO
.container-nav {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    //background-color: #d76d83 !important;
    background-color: $liladark !important;
}
.navbar-fixed-top {
    position: fixed;
    padding-left: 30%;
    z-index: 10;
    padding-right: 30%;
}
.navbar-inverse {
    //background-color: #6c0342 !important;
    background-color: $liladark !important;
    border-color: $liladark !important;
    color: #fff !important;
    font-weight: 100 !important;
}
.nav li a {
    padding: 20px 28px;
}
.navbar-inverse .navbar-nav>.active>a {
    background-color: $liladark !important;
    
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    background-color: $lila !important; 
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff !important; 
}

